# Add any directories, files, or patterns you don't want to be tracked by version control
.suo
.user
.psess
.vspx
.vs
_ReSharper.
bin
obj
packages
.idea/.idea.GenieChess/.idea/workspace.xml
GenieChess.sln.DotSettings.user
.idea/.idea.GenieChess/.idea/riderModule.iml
.idea/.idea.GenieChess/.idea/modules.xml
.idea/.idea.GenieChess/.idea/indexLayout.xml
